@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc; /* হালকা গ্রে ব্যাকগ্রাউন্ড */
  --foreground: #0f172a;
}

.dark {
  --background: #020617; /* ডিপ নেভি স্লেট */
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Swiper Custom Styles */
.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
  background: rgba(0,0,0,0.2);
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.1);
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: bold;
}
.swiper-pagination-bullet-active {
  background: #2563eb !important;
  width: 30px !important;
  border-radius: 5px !important;
}